<?xml version="1.0" encoding="utf-8"?>
<Config>
  <BleedingConfig>
    <UnconciousPulseSpeed>0.6</UnconciousPulseSpeed>
    <UnconciousBloodFlow>0.6</UnconciousBloodFlow>
    <BasicPulseSpeed>7</BasicPulseSpeed>
    <PulseSteepness>8</PulseSteepness>
    <FlowOffset>0.3</FlowOffset>
    <MinFlow>0.4</MinFlow>
    <SeverityFlowFactor>0.2</SeverityFlowFactor>
    <PulseFlowFactor>1.4</PulseFlowFactor>
    <LimbSpeedFlowFactor>0.1</LimbSpeedFlowFactor>
    <LimbSpeedPosFactor>10</LimbSpeedPosFactor>
    <RandomPosFactor>10</RandomPosFactor>
    <MinDecalLifetime>0.1</MinDecalLifetime>
    <SizeToLifetime>0.1</SizeToLifetime>
  </BleedingConfig>
  <DecalDrawDepth>0.6</DecalDrawDepth>
  <DecalCreationInterval>0.03</DecalCreationInterval>
  <GlobalBloodAmount>0</GlobalBloodAmount>
</Config>