<?xml version="1.0" encoding="utf-8"?>
<Config>
  <FromBleeding>
    <BloodAmountFromBleeding>1</BloodAmountFromBleeding>
    <UnconciousPulseSpeed>0.6</UnconciousPulseSpeed>
    <UnconciousBloodFlow>0.2</UnconciousBloodFlow>
    <BasicPulseSpeed>7</BasicPulseSpeed>
    <PulseSteepness>32</PulseSteepness>
    <MinFlow>0.1</MinFlow>
    <FlowCutoff>0.3</FlowCutoff>
    <SeverityFlowFactor>0.1</SeverityFlowFactor>
    <PulseFlowFactor>0.6</PulseFlowFactor>
    <LimbSpeedFlowFactor>0.04</LimbSpeedFlowFactor>
    <LimbSpeedPosFactor>10</LimbSpeedPosFactor>
    <RandomPosFactor>30</RandomPosFactor>
  </FromBleeding>
  <FromImpact>
    <OfProjectile>
      <MinBloodFlyDistance>40</MinBloodFlyDistance>
      <BloodSpeed>80</BloodSpeed>
    </OfProjectile>
    <OfMeleeWeapon>
      <MinBloodFlyDistance>10</MinBloodFlyDistance>
      <BloodSpeed>20</BloodSpeed>
    </OfMeleeWeapon>
    <BloodAmountFromImpact>0</BloodAmountFromImpact>
    <BleedingDamageToDecalSize>0.18</BleedingDamageToDecalSize>
    <MinSplash>1</MinSplash>
    <Cutoff>0</Cutoff>
  </FromImpact>
  <DecalDrawDepth>0.6</DecalDrawDepth>
  <DecalCreationInterval>0.06</DecalCreationInterval>
  <GlobalBloodAmount>2</GlobalBloodAmount>
  <Version>1.1.0</Version>
</Config>